.jumbotron {
  color: white;
  background: #337ab7;;
  padding: 1%;
  margin: 1%;
  border-radius: 5px;
}

header {
  color: white;
}

body {
  text-align: center;
}

div {
  align-items: center;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  justify-content: left;
  overflow-wrap: normal;
}

.btn {
  margin: 1px;
  max-width: 100%;
  white-space: normal;
}

#eventstuff {
    /*border-radius: 5px;*/
}

#events {
  /*list-style-type: none;*/
}

#eventbox {
  /*margin-bottom: 2em;*/
}

#completestuff {
  /*border-radius: 5px;*/
}

#completes {
  /*list-style-type: none;*/
}
